<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}" />
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <a href="/">
          <img
            src="{{ url_for('static', path='images/logo.png') }}"
            alt="Logo"
            class="header-logo"
            width="54"
          />
        </a>
      </div>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
