{% extends "base.html" %} {% block title %}Seznam Strank{% endblock %} {% block
content %}
<div class="container">
  <h1>Seznam Strank</h1>

  {% if stranke %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Stranka ID</th>
        <th>Ime</th>
        <th>Priimek</th>
        <th>Naslov</th>
      </tr>
    </thead>
    <tbody>
      {% for s in stranke %}
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.stranka_id }}</td>
        <td>{{ s.firstname }}</td>
        <td>{{ s.lastname }}</td>
        <td>{{ s.address }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Ni vpisanih strank.</p>
  {% endif %}
</div>
{% endblock %}
