{% extends "base.html" %} {% block title %}Seznam Strank{% endblock %} {% block
content %}
<div class="container">
  <h1>📋 Upravljanje Strank</h1>
  {% if stranke %}
  <table>
    <thead>
      <tr>
        <th>Stranka ID</th>
        <th>Ime</th>
        <th>Priimek</th>
        <th>Naslov</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody>
      {% for s in stranke %}
      <tr>
        <td>{{ s.stranka_id }}</td>
        <td>{{ s.firstname }}</td>
        <td>{{ s.lastname }}</td>
        <td>{{ s.address }}</td>
        <td class="action-buttons">
          <button
            class="btn btn-primary fullwidth"
            style="flex: 1"
            onclick="window.location.href='/stranke/{{ s.stranka_id }}/uredi'"
          >
            ✏️ Uredi
          </button>
          <form
            class="flex-1"
            method="post"
            action="/stranke/{{ s.stranka_id }}/delete"
            onsubmit="return confirm('Are you sure?');"
          >
            <button type="submit" class="btn btn-error fullwidth">
              🗑️ Izbriši
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Ni vpisanih strank.</p>
  {% endif %}
</div>
{% endblock %}
