{% extends "base.html" %} {% block title %}Ustvari Račun{% endblock %} {% block
content %}
<div class="container">
  <h1>Ustvari Račun</h1>
  <form method="get" action="/racuni/isci_stranko">
    <label for="search_name">Išči po imenu ali priimku:</label>
    <input type="text" id="search_name" name="search_name" required />
    <button type="submit" class="btn btn-accent fullwidth">Išči</button>
  </form>

  {% if search_results %}
  <div class="result">
    <p><strong>Najdene stranke:</strong></p>
    <ul>
      {% for stranka in search_results %}
      <li style="margin-bottom: 5px">
        <form method="post" action="/ustvari_racun" style="display: inline">
          <input
            type="hidden"
            name="stranka_id"
            value="{{ stranka.stranka_id }}"
          />
          <button type="submit">
            Ustvari račun za: {{ stranka.firstname }} {{ stranka.lastname }} —
            <span><i>ID: {{ stranka.stranka_id }}</i></span>
          </button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% if result %}
  <div class="result {% if 'No data' in result.message %}error{% endif %}">
    <p><strong>{{ result.message }}</strong></p>
    {% if result.koncni_znesek is defined %}
    <p>Stranka ID: {{ result.stranka_id }}</p>
    <p>Koncni znesek: {{ "%.2f"|format(result.koncni_znesek) }}</p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}
